<script src="https://cdn01.jotfor.ms/static/prototype.forms.js?3.3.42600" type="text/javascript"></script>
<script src="https://cdn02.jotfor.ms/static/jotform.forms.js?3.3.42600" type="text/javascript"></script>
<script src="https://cdn03.jotfor.ms/js/payments/validategateways.js?v=3.3.42600" type="text/javascript"></script>
<script
    type="text/javascript">	JotForm.newDefaultTheme = true; JotForm.extendsNewTheme = false; JotForm.singleProduct = false; JotForm.newPaymentUIForNewCreatedForms = true; JotForm.newPaymentUI = true; JotForm.clearFieldOnHide = "disable"; JotForm.submitError = "jumpToFirstError"; JotForm.init(function () { /*INIT-START*/
            if (window.JotForm && JotForm.accessible) $('input_9').setAttribute('tabindex', 0);
            if (window.JotForm && JotForm.accessible) $('input_10').setAttribute('tabindex', 0);
            if (window.JotForm && JotForm.accessible) $('input_11').setAttribute('tabindex', 0); JotForm.alterTexts(undefined); /*INIT-END*/
        }); JotForm.prepareCalculationsOnTheFly([null, { "name": "heading", "qid": "1", "text": "Quiz Experience", "type": "control_head" }, { "name": "submit2", "qid": "2", "text": "Submit", "type": "control_button" }, { "description": "", "name": "typeA", "qid": "3", "text": "", "type": "control_matrix" }, null, { "description": "", "name": "name", "qid": "5", "text": "Name", "type": "control_fullname" }, null, null, null, { "description": "", "name": "age", "qid": "9", "subLabel": "", "text": "Age", "type": "control_textbox" }, { "description": "", "name": "educationalBackground", "qid": "10", "subLabel": "", "text": "Educational Background", "type": "control_textbox" }, { "description": "", "name": "professionalBackground", "qid": "11", "subLabel": "", "text": "Professional Background", "type": "control_textbox" }]); setTimeout(function () {
            JotForm.paymentExtrasOnTheFly([null, { "name": "heading", "qid": "1", "text": "Quiz Experience", "type": "control_head" }, { "name": "submit2", "qid": "2", "text": "Submit", "type": "control_button" }, { "description": "", "name": "typeA", "qid": "3", "text": "", "type": "control_matrix" }, null, { "description": "", "name": "name", "qid": "5", "text": "Name", "type": "control_fullname" }, null, null, null, { "description": "", "name": "age", "qid": "9", "subLabel": "", "text": "Age", "type": "control_textbox" }, { "description": "", "name": "educationalBackground", "qid": "10", "subLabel": "", "text": "Educational Background", "type": "control_textbox" }, { "description": "", "name": "professionalBackground", "qid": "11", "subLabel": "", "text": "Professional Background", "type": "control_textbox" }]);
        }, 20); </script>
<style type="text/css">
    @media print {
        .form-section {
            display: inline !important
        }

        .form-pagebreak {
            display: none !important
        }

        .form-section-closed {
            height: auto !important
        }

        .page-section {
            position: initial !important
        }
    }
</style>
<link type="text/css" rel="stylesheet"
    href="https://cdn01.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?v=3.3.42600" />
<link type="text/css" rel="stylesheet" href="https://cdn02.jotfor.ms/css/styles/payment/payment_styles.css?3.3.42600" />
<link type="text/css" rel="stylesheet"
    href="https://cdn03.jotfor.ms/css/styles/payment/payment_feature.css?3.3.42600" />
<style type="text/css" id="form-designer-style">
    /* Injected CSS Code */
    /*PREFERENCES STYLE*/
    .form-all {
        font-family: Inter, sans-serif;
    }

    .form-label.form-label-auto {
        display: block;
        float: none;
        text-align: left;
        width: 100%;
    }

    .form-line {
        margin-top: 12px;
        margin-bottom: 12px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .form-all {
        max-width: 752px;
        width: 100%;
    }

    .form-label.form-label-left,
    .form-label.form-label-right,
    .form-label.form-label-left.form-label-auto,
    .form-label.form-label-right.form-label-auto {
        width: 230px;
    }

    .form-all {
        font-size: 16px
    }

    .supernova .form-all,
    .form-all {
        background-color: #91ecd0;
    }

    .form-all {
        color: #2C3345;
    }

    .form-header-group .form-header {
        color: #2C3345;
    }

    .form-header-group .form-subHeader {
        color: #2C3345;
    }

    .form-label-top,
    .form-label-left,
    .form-label-right,
    .form-html,
    .form-checkbox-item label,
    .form-radio-item label,
    span.FITB .qb-checkbox-label,
    span.FITB .qb-radiobox-label,
    span.FITB .form-radio label,
    span.FITB .form-checkbox label,
    [data-blotid][data-type=checkbox] [data-labelid],
    [data-blotid][data-type=radiobox] [data-labelid],
    span.FITB-inptCont[data-type=checkbox] label,
    span.FITB-inptCont[data-type=radiobox] label {
        color: #2C3345;
    }

    .form-sub-label {
        color: #464d5f;
    }

    .supernova {
        background-color: #f3f3fe;
    }

    .supernova body {
        background: transparent;
    }

    .form-textbox,
    .form-textarea,
    .form-dropdown,
    .form-radio-other-input,
    .form-checkbox-other-input,
    .form-captcha input,
    .form-spinner input {
        background-color: #fff;
    }

    .supernova {
        background-image: none;
    }

    #stage {
        background-image: none;
    }

    .form-all {
        background-image: none;
    }

    .form-all:before {
        content: none;
    }

    .form-all {
        margin-top: 72px;
    }

    /*PREFERENCES STYLE*/
    /*__INSPECT_SEPERATOR__*/
    /* Injected CSS Code */
</style>
<form class="jotform-form" ngNoForm action="https://eu-submit.jotform.com/submit/231585016827358" method="post"
    name="form_231585016827358" id="231585016827358" accept-charset="utf-8" autocomplete="on"><input type="hidden"
        name="formID" value="231585016827358" /><input type="hidden" id="JWTContainer" value="" /><input type="hidden"
        id="cardinalOrderNumber" value="" />
    <div role="main" class="form-all">
        <ul class="form-section page-section">
            <li id="cid_1" class="form-input-wide" data-type="control_head">
                <div class="form-header-group header-large">
                    <div class="header-text httal htvam">
                        <h1 id="header_1" class="form-header" data-component="header">Quiz Experience</h1>
                        <div id="subHeader_1" class="form-subHeader">Take a small survey on the quiz you just took</div>
                    </div>
                </div>
            </li>
            <li class="form-line" data-type="control_fullname" id="id_5"><label
                    class="form-label form-label-top form-label-auto" id="label_5" for="first_5"> Name </label>
                <div id="cid_5" class="form-input-wide" data-layout="full">
                    <div data-wrapper-react="true"><span class="form-sub-label-container" style="vertical-align:top"
                            data-input-type="first"><input type="text" id="first_5" name="q5_name[first]"
                                class="form-textbox" data-defaultvalue="" autoComplete="section-input_5 given-name"
                                size="10" value="" data-component="first"
                                aria-labelledby="label_5 sublabel_5_first" /><label class="form-sub-label" for="first_5"
                                id="sublabel_5_first" style="min-height:13px" aria-hidden="false">First
                                Name</label></span><span class="form-sub-label-container" style="vertical-align:top"
                            data-input-type="last"><input type="text" id="last_5" name="q5_name[last]"
                                class="form-textbox" data-defaultvalue="" autoComplete="section-input_5 family-name"
                                size="15" value="" data-component="last"
                                aria-labelledby="label_5 sublabel_5_last" /><label class="form-sub-label" for="last_5"
                                id="sublabel_5_last" style="min-height:13px" aria-hidden="false">Last
                                Name</label></span></div>
                </div>
            </li>
            <li class="form-line" data-type="control_textbox" id="id_9"><label
                    class="form-label form-label-top form-label-auto" id="label_9" for="input_9"> Age </label>
                <div id="cid_9" class="form-input-wide" data-layout="half"> <input type="text" id="input_9"
                        name="q9_age" data-type="input-textbox" class="form-textbox" data-defaultvalue=""
                        style="width:310px" size="310" value="" data-component="textbox" aria-labelledby="label_9" />
                </div>
            </li>
            <li class="form-line" data-type="control_textbox" id="id_10"><label
                    class="form-label form-label-top form-label-auto" id="label_10" for="input_10"> Educational
                    Background </label>
                <div id="cid_10" class="form-input-wide" data-layout="half"> <input type="text" id="input_10"
                        name="q10_educationalBackground" data-type="input-textbox" class="form-textbox"
                        data-defaultvalue="" style="width:310px" size="310" value="" data-component="textbox"
                        aria-labelledby="label_10" /> </div>
            </li>
            <li class="form-line" data-type="control_textbox" id="id_11"><label
                    class="form-label form-label-top form-label-auto" id="label_11" for="input_11"> Professional
                    Background </label>
                <div id="cid_11" class="form-input-wide" data-layout="half"> <input type="text" id="input_11"
                        name="q11_professionalBackground" data-type="input-textbox" class="form-textbox"
                        data-defaultvalue="" style="width:310px" size="310" value="" data-component="textbox"
                        aria-labelledby="label_11" /> </div>
            </li>
            <li class="form-line" data-type="control_matrix" id="id_3"><label
                    class="form-label form-label-top form-label-auto" id="label_3" for="input_3"> </label>
                <div id="cid_3" class="form-input-wide" data-layout="full">
                    <table summary="" aria-labelledby="label_3" cellPadding="4" cellSpacing="0"
                        class="form-matrix-table" data-component="matrix">
                        <tr class="form-matrix-tr form-matrix-header-tr">
                            <th class="form-matrix-th" style="border:none"> </th>
                            <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_0">
                                <label id="label_3_col_0">Strongly Disagree</label></th>
                            <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_1">
                                <label id="label_3_col_1">Disagree</label></th>
                            <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_2">
                                <label id="label_3_col_2">Neutral</label></th>
                            <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_3">
                                <label id="label_3_col_3">Agree</label></th>
                            <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_4">
                                <label id="label_3_col_4">Strongly Agree</label></th>
                        </tr>
                        <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_3 label_3_row_0">
                            <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label
                                    id="label_3_row_0">I was able to track my achievement progress after the gamified
                                    quiz activity</label></th>
                            <td class="form-matrix-values"><input type="radio" id="input_3_0_0" class="form-radio"
                                    name="q3_typeA[0]" value="Strongly Disagree"
                                    aria-labelledby="label_3_col_0 label_3_row_0"
                                    aria-label="Cells Radio Button" /><label for="input_3_0_0"
                                    class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                            <td class="form-matrix-values"><input type="radio" id="input_3_0_1" class="form-radio"
                                    name="q3_typeA[0]" value="Disagree" aria-labelledby="label_3_col_1 label_3_row_0"
                                    aria-label="Cells Radio Button" /><label for="input_3_0_1"
                                    class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                            <td class="form-matrix-values"><input type="radio" id="input_3_0_2" class="form-radio"
                                    name="q3_typeA[0]" value="Neutral" aria-labelledby="label_3_col_2 label_3_row_0"
                                    aria-label="Cells Radio Button" /><label for="input_3_0_2"
                                    class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                            <td class="form-matrix-values"><input type="radio" id="input_3_0_3" class="form-radio"
                                    name="q3_typeA[0]" value="Agree" aria-labelledby="label_3_col_3 label_3_row_0"
                                    aria-label="Cells Radio Button" /><label for="input_3_0_3"
                                    class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                            <td class="form-matrix-values"><input type="radio" id="input_3_0_4" class="form-radio"
                                    name="q3_typeA[0]" value="Strongly Agree"
                                    aria-labelledby="label_3_col_4 label_3_row_0"
                                    aria-label="Cells Radio Button" /><label for="input_3_0_4"
                                    class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                        </tr>
                        <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_3 label_3_row_1">
                            <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label
                                    id="label_3_row_1">Gamified e-quizzes were a form of friendly competition</label>
                            </th>
                            <td class="form-matrix-values"><input type="radio" id="input_3_1_0" class="form-radio"
                                    name="q3_typeA[1]" value="Strongly Disagree"
                                    aria-labelledby="label_3_col_0 label_3_row_1"
                                    aria-label="Cells Radio Button" /><label for="input_3_1_0"
                                    class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                            <td class="form-matrix-values"><input type="radio" id="input_3_1_1" class="form-radio"
                                    name="q3_typeA[1]" value="Disagree" aria-labelledby="label_3_col_1 label_3_row_1"
                                    aria-label="Cells Radio Button" /><label for="input_3_1_1"
                                    class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                            <td class="form-matrix-values"><input type="radio" id="input_3_1_2" class="form-radio"
                                    name="q3_typeA[1]" value="Neutral" aria-labelledby="label_3_col_2 label_3_row_1"
                                    aria-label="Cells Radio Button" /><label for="input_3_1_2"
                                    class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                            <td class="form-matrix-values"><input type="radio" id="input_3_1_3" class="form-radio"
                                    name="q3_typeA[1]" value="Agree" aria-labelledby="label_3_col_3 label_3_row_1"
                                    aria-label="Cells Radio Button" /><label for="input_3_1_3"
                                    class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                            <td class="form-matrix-values"><input type="radio" id="input_3_1_4" class="form-radio"
                                    name="q3_typeA[1]" value="Strongly Agree"
                                    aria-labelledby="label_3_col_4 label_3_row_1"
                                    aria-label="Cells Radio Button" /><label for="input_3_1_4"
                                    class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                        </tr>
                        <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_3 label_3_row_2">
                            <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label
                                    id="label_3_row_2">I was able to remember the knowledge I gained from the gamified
                                    quiz work</label></th>
                            <td class="form-matrix-values"><input type="radio" id="input_3_2_0" class="form-radio"
                                    name="q3_typeA[2]" value="Strongly Disagree"
                                    aria-labelledby="label_3_col_0 label_3_row_2"
                                    aria-label="Cells Radio Button" /><label for="input_3_2_0"
                                    class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                            <td class="form-matrix-values"><input type="radio" id="input_3_2_1" class="form-radio"
                                    name="q3_typeA[2]" value="Disagree" aria-labelledby="label_3_col_1 label_3_row_2"
                                    aria-label="Cells Radio Button" /><label for="input_3_2_1"
                                    class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                            <td class="form-matrix-values"><input type="radio" id="input_3_2_2" class="form-radio"
                                    name="q3_typeA[2]" value="Neutral" aria-labelledby="label_3_col_2 label_3_row_2"
                                    aria-label="Cells Radio Button" /><label for="input_3_2_2"
                                    class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                            <td class="form-matrix-values"><input type="radio" id="input_3_2_3" class="form-radio"
                                    name="q3_typeA[2]" value="Agree" aria-labelledby="label_3_col_3 label_3_row_2"
                                    aria-label="Cells Radio Button" /><label for="input_3_2_3"
                                    class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                            <td class="form-matrix-values"><input type="radio" id="input_3_2_4" class="form-radio"
                                    name="q3_typeA[2]" value="Strongly Agree"
                                    aria-labelledby="label_3_col_4 label_3_row_2"
                                    aria-label="Cells Radio Button" /><label for="input_3_2_4"
                                    class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                        </tr>
                        <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_3 label_3_row_3">
                            <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label
                                    id="label_3_row_3">This activity helped me to improve my Javascript skills through
                                    various types<br />of quiz questions related to it</label></th>
                            <td class="form-matrix-values"><input type="radio" id="input_3_3_0" class="form-radio"
                                    name="q3_typeA[3]" value="Strongly Disagree"
                                    aria-labelledby="label_3_col_0 label_3_row_3"
                                    aria-label="Cells Radio Button" /><label for="input_3_3_0"
                                    class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                            <td class="form-matrix-values"><input type="radio" id="input_3_3_1" class="form-radio"
                                    name="q3_typeA[3]" value="Disagree" aria-labelledby="label_3_col_1 label_3_row_3"
                                    aria-label="Cells Radio Button" /><label for="input_3_3_1"
                                    class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                            <td class="form-matrix-values"><input type="radio" id="input_3_3_2" class="form-radio"
                                    name="q3_typeA[3]" value="Neutral" aria-labelledby="label_3_col_2 label_3_row_3"
                                    aria-label="Cells Radio Button" /><label for="input_3_3_2"
                                    class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                            <td class="form-matrix-values"><input type="radio" id="input_3_3_3" class="form-radio"
                                    name="q3_typeA[3]" value="Agree" aria-labelledby="label_3_col_3 label_3_row_3"
                                    aria-label="Cells Radio Button" /><label for="input_3_3_3"
                                    class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                            <td class="form-matrix-values"><input type="radio" id="input_3_3_4" class="form-radio"
                                    name="q3_typeA[3]" value="Strongly Agree"
                                    aria-labelledby="label_3_col_4 label_3_row_3"
                                    aria-label="Cells Radio Button" /><label for="input_3_3_4"
                                    class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                        </tr>
                    </table>
                </div>
            </li>
            <li class="form-line" data-type="control_button" id="id_2">
                <div id="cid_2" class="form-input-wide" data-layout="full">
                    <div data-align="auto" class="form-buttons-wrapper form-buttons-auto jsTest-button-wrapperField">
                        <button id="input_2" type="submit"
                            class="form-submit-button submit-button jf-form-buttons jsTest-submitField"
                            data-component="button" data-content="">Submit</button></div>
                </div>
            </li>
            <li style="display:none">Should be Empty: <input type="text" name="website" value="" /></li>
        </ul>
    </div>
    <script> JotForm.showJotFormPowered = "new_footer"; </script>
    <script> JotForm.poweredByText = "Powered by Jotform"; </script><input type="hidden" class="simple_spc"
        id="simple_spc" name="simple_spc" value="231585016827358" />
    <script
        type="text/javascript"> var all_spc = document.querySelectorAll("form[id='231585016827358'] .si" + "mple" + "_spc"); for (var i = 0; i < all_spc.length; i++) { all_spc[i].value = "231585016827358-231585016827358"; } </script>
    <div class="formFooter-heightMask"></div>
    
</form>
<script type="text/javascript">JotForm.ownerView = true;</script>
<script type="text/javascript">JotForm.forwardToEu = true;</script>
<script src="https://cdn.jotfor.ms//js/vendor/smoothscroll.min.js?v=3.3.42600"></script>
<script src="https://cdn.jotfor.ms//js/errorNavigation.js?v=3.3.42600"></script>