<mat-toolbar color="primary">
    <span>PIXIE</span>
  </mat-toolbar>
  <div>
    <br>
    <div  style="display: flex; flex-direction: row; ">
      <div id="avatar"><img src="/src/assets/images/bot.jpg"/></div>
    
    <div>
      <mat-card class="message-card"  *ngIf="messageIntro.sender && messageIntro.text" > 
      <mat-card-content>
        <p class="message">{{ messageIntro.text }}</p>
   </mat-card-content>
     
   
</mat-card></div>
      <mat-card class="message-card" *ngFor="let message of messages"  > 
     
          <mat-card-header>
              <mat-card-title class="sender-name">{{ message.sender }}</mat-card-title>
          </mat-card-header>
           <mat-card-content>
               <p class="message">{{ message.text }}</p>
          </mat-card-content>  
     </mat-card>
  </div>
  <div class="input-container" fxLayout="row" fxLayoutAlign="center bottom">
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Message</mat-label>
          <input matInput [(ngModel)]="inputValue" name="userinput" placeholder="Enter value">
        <button mat-button type="button" color="primary" (click)="sendUserMessage()">send</button>
        </mat-form-field>
      </form>
    </div>
  </div>
    