 <!-- creating a modal for when quiz ends -->
 <div class="modal-container" *ngIf="showModal">
    <div class="modal-content-container">
      <h1>Congratulations, Quiz Completed.</h1>
  
      <div class="grade-details">
        <p>Attempts:</p>
        <p>Wrong Answers: </p>
        <p>Right Answers: </p>
        <p>Grade: %</p>
        <p> remarks </p>
      </div>
  
      <div class="modal-button-container">
        <button >Continue</button>
      </div>
    </div>
  </div>
<!-- end of modal of quiz details-->
<main><div class="game-quiz-container">

    <div class="game-details-container">
      
        <h1>Question: <span id="question-number">{{ currentQuestion }}</span> / {{ questionLength }}</h1>
        <div class="countdown-container">
            <span> <h1>Time Remaining: {{ countdown }}</h1></span>
          </div>
    </div>
    

    <div class="game-question-container">
        <h1 id="display-question">{{question}}</h1>
    </div>

    <div class="game-options-container">

       <div *ngIf="pickOptionsModal" class="modal-container" id="option-modal">

            <div class="modal-content-container">
                 <h1>Please Pick An Option</h1>

                 <div class="modal-button-container">
                    <button onclick="closeOptionModal()">Continue</button>
                </div>

            </div>

       </div>
       <span *ngFor="let option of options; let i = index">
        <input #optionInput type="radio" name="selectedOption" [value]="option" (click)="selectOption(optionInput.value)" />
        <!-- <label [ngClass]="{'green': , 'red': selectedOption === option && !isOptionCorrect(option)}">{{option}}</label> -->
      </span>
       <!-- <span *ngFor="let option of options; let i = index">
        <input (click)="selectOption(option)" type="radio" name="selectedOption" [(ngModel)]="selectedOption" [value]="option" />
        <label>{{option}}</label>
      </span> -->


    </div>

    <div class="next-button-container">
        <button (click)="handleNextQuestion()">Next Question</button>
    </div>

</div></main>
