<div class="container" *ngIf="name$ | async as name ">
    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <h1 class="fs-1">{{name}} Are you Ready to take the quiz</h1>
        <div class="row justify-content-center">
          <div class="container introduction-container">
            <hr class="my-4">
            <h3 class="display-4">Instructions on the quiz</h3>
            <ul class="list-unstyled">
            
              <li>There are a set of 5 questions and each questions will be having four options to chose from.</li>
              <li>All the questions are timed to 60 seconds</li>
              <li>If you dont Answere a question you will move on to the next question automatically</li>
            </ul>
            
        </div>
          <button routerLink="/prequiz" type="button" class="btn btn-primary btn-lg" style="background-color: #0222af; border-color: #0222af;color: white;">Start Quiz</button></div>
        
      </div>
    </div> 
    <div *ngIf="showError" class="alert alert-danger alert-dismissible fade show" role="alert">
      Please login to access Quiz
      <button  type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="reset()" ></button>
    </div>
   </div> 
  <div  *ngIf="!(name$ | async)">
    <div class="container">
      <div class="row justify-content-center">
        
        <div class="col-10 text-center">
          <div class="container introduction-container">
            <h1 class="display-4">Welcome to the Chatbot Quiz!</h1>
            <p class="lead">We are conducting a study to find out whether human-like chatbot abilities improve learning. As a participant in this study, you will be interacting with a chatbot - which will help you learn about a certain topic - and answering a series of questions based on your conversations with them. 
              Your responses will help us understand the impact of chatbot personality on learning outcomes.</p>
            <hr class="my-4">
            <h3 class="display-4">Heads Up!!!</h3>
            <ul class="list-unstyled">
             <p>Take part in our study to determine if chatbots improve learning outcomes. You'll start by taking a quiz on Javascript before chatting with ScriptBuddy, our chatbot. Don't worry if you don't know the answers – just do your best! After chatting with  ScriptBuddy, you'll take the same quiz again to see if your score improves. Please note that this is an experiment, not a test of your programming abilities. Sign up/login to begin the quiz!</p>
              <li><h4>Do not close this browser after login!! You will lose all you data</h4></li>
            </ul>
            
        </div>
      
    </div>  
    </div>