/* .overlay {
  background-color:grey; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.container {
  background-color: teal;
  position: relative;
  z-index: 1; /* make sure the text is on top of the overlay */
}
.introduction-container {
    color: #fff;
  }